<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:chooseimage" type="Sitecore.Support.Shell.Applications.WebEdit.Commands.ChooseImage, Sitecore.Support.129864"  
               patch:instead="*[@type='Sitecore.Shell.Applications.WebEdit.Commands.ChooseImage, Sitecore.ExperienceEditor']"  />
    </commands>
  </sitecore>
</configuration>